<ion-view view-title="Settings">
	
	
		<!-- Aditya Kumar- 23 April 2016 -Change -->
	
	
	
	
	
	
	
	
  <ion-content>
    <br>
	  <br>
	 
	  <div class="list card">

  <a href="https://www.facebook.com/searcharound/" class="item item-icon-left">
    <i class="ion-network"></i>
   &nbsp; &nbsp; UNDER CONSTRUCTION
  </a>

  <a href="https://www.twitter.com/searcharound" class="item item-icon-left">
    <i class="ion-network"></i>
  &nbsp; &nbsp;  UNDER CONSTRUCTION
  </a>



</div>
	  
	  
	  
	  
  </ion-content>
</ion-view>
