<ion-view view-title="Rate & Review">
	
	
	
		<!-- Aditya Kumar- 23 April 2016 -Change -->
	
	
	
	
  <ion-content>
    
	  
	  
	  <div class="list card">

  <div class="item item-avatar">
    <h2>Rate and Review our App</h2>
  </div>

 </div>
<iframe src="https://play.google.com/store/search?q=webflax&c=apps&hl=en"/>
		  
		  
	  
	  
	<script> module.controller('MyCtrl', function($scope, $cordovaAppRate) {

  document.addEventListener("deviceready", function () {

    $cordovaAppRate.navigateToAppStore().then(function (result) {
        // success
    });
  }, false);
});
	  
	  </script> 
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
  </ion-content>
</ion-view>
